body {
  background-color: #f0f0f0;
  margin: 0;
  padding: 0;
}

label,
input {
  display: flex;
}

.main_container {
  display: flex;
  position: absolute;
  width: 100%;
  height: 95%;
}

.container {
  width: 50vh;
  height: max-content;

  background-color: rgba(255, 255, 255, 0.8);
  backdrop-filter: blur(10px);
  border-radius: 50px;

  padding: 10px 10px 0px 10px;

  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1); /* 그림자 효과 추가 */
}

.container h1 {
  font-size: 24px;
  text-align: center;
}

.container form div {
  margin-bottom: 15px;
}

.container form div label {
  display: block;
  margin-bottom: 5px;
}

.container form div input[type="text"],
.container form div input[type="password"] {
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 100%;
  box-sizing: border-box;
}

.container form {
  padding: 30px;
}

.container form div button {
  width: 100px;
  padding: 8px;
  border: none;
  background-color: #3c9eec;
  color: #fff;
  border-radius: 5px;
  cursor: pointer;
  margin-left: 10px;
}

.container form div button:hover {
  background-color: #195abc;
  color: #fff;
}

.container form div button:disabled {
  background-color: #ccc;
  color: #000;
}

.container form button[type="submit"] {
  background-color: #fff;
  border-color: #3c9eec;
  border: 1px solid;
  color: #3c9eec;
}

.error {
  border-color: 3px solid #dc3545;
}

#input-btn-div {
  display: flex;
}

.container .btn-div {
  align-items: center;
  text-align: center;
  padding: 0px;
  margin: 0px;
}
