/* 초기 리셋 스타일 */
* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  background-color: #f0f0f0;
}

/* rem 사용을 위한 루트글자 크기 설정 */
html {
  font-size: 15px;
}

/* 
   기본 배치
   - <div class="wrap">: 사이드바가 보여지는 화면
   - <div class="wrap collapse">:  사이드바가 숨겨지는 화면
*/
.wrap {
  position: relative;
}
.wrap > .sidebar {
  background-color: #fff;
  position: fixed;

  /* 사이드바가 보여지는 중 / sidebar는 화면을 기준으로 배치 */
  top: 0;
  right: 0;
  bottom: 0;
  width: 30rem;

  padding: 1rem;
  z-index: 9999;

  border-radius: 30px 0 0 30px;
}

.wrap > .main_container {
  position: absolute;
  left: 0;
  top: 0;
  right: 30rem; /*사이드바가 나와있는 만큼의 길이 */

  display: flex;
  justify-content: center; /* 가운데 정렬 */
  align-items: center; /* 수직 가운데 정렬 */
  height: 100vh; /* 화면 전체 높이 */
}

.main_container > .container {
  display: flex;
  position: relative;
  width: 80%;
  height: 80%;
  border-radius: 30px;
  overflow: hidden;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
}

/*
   숨긴 상태의 처리
  - 사이드바는 화면 밖으로 이동 시킴
  - 컨텐츠 영역은 사이드바가 사라진 자리 채움
 */

.wrap.collapse > .sidebar {
  margin-right: -30rem;
}

.wrap.collapse > .main_container {
  right: 0;
}

/* 부드럽게 이동하도록 transition 처리 */
.wrap > .sidebar {
  transition-property: margin-right;
  transition-duration: 0.3s;
  transition-timing-function: linear;
}

.wrap > .main_container {
  transition-property: right, padding-right;
  transition-duration: 0.3s;
  transition-timing-function: linear;
}

/* 사이드바 메뉴 상단부 */
.wrap > .sidebar > .sidebar-top {
  display: flex;
  justify-content: space-between;
  align-content: center;

  border: 1px dotted red;
}

.wrap > .sidebar > .sidebar-top > .toggle {
  position: relative;
  width: 1.5rem;
  height: 1.5rem;
}

/* 사이드바 메인영역 */
.wrap > .sidebar > .sidebar-main {
  display: flex;
  flex-direction: column;
  margin-top: 50px;
  gap: 20px;
}
.wrap > .sidebar > .sidebar-main > form > .todo-title {
  width: 100%;
  height: 70px;
  display: flex;
  justify-content: space-between;
}

.wrap > .sidebar > .sidebar-main > form > .todo-title > textarea {
  width: inherit;
}

.wrap > .sidebar > .sidebar-main > form > .todo-title > button {
}

.wrap > .sidebar > .sidebar-main > button {
  width: 100%;
  height: 70px;
}

.wrap > .sidebar > .sidebar-main > .todo-ddln {
  width: 100%;
  height: 70px;
}

.wrap > .sidebar > .sidebar-main > .todo-memo {
  width: 100%;
  max-height: 300px;
  box-sizing: content-box;
}

.wrap > .sidebar > .sidebar-main > .todo-memo > form > #todo-memo-textarea {
  width: 100%;
  height: 70px;
}

.wrap > .sidebar > .sidebar-main > .todo-memo > form > p {
  text-align: center;
}

/* 사이드바 하단 */
.wrap > .sidebar > .sidebar-bottom {
  display: flex;
  justify-content: space-between;
  align-content: center;

  width: 100%;
  left: 0;
  bottom: 1rem;
  position: absolute;

  padding: 1rem;
}

.wrap > .sidebar > .sidebar-bottom > div {
  position: relative;
}

.wrap > .sidebar > .sidebar-bottom > button {
  position: relative;
  width: 1.5rem;
  height: 1.5rem;
  right: 0;
}

/* 사이드바 메뉴 버튼 */
.wrap > .sidebar > .sidebar-top > .toggle > span {
  position: absolute;

  width: 80%;
  height: 10%;
  background-color: black;
}

/* 사이드바 내부 닫기 메뉴 버튼 (div class : main_container) */
.wrap > .sidebar > .sidebar-top > .toggle > span:nth-child(1) {
  top: 10%;
  left: 10%;
}
.wrap > .sidebar > .sidebar-top > .toggle > span:nth-child(2) {
  top: 50%;
  left: 10%;
  transform: translateY(-50%);
}
.wrap > .sidebar > .sidebar-top > .toggle > span:nth-child(3) {
  top: 90%;
  left: 10%;
  transform: translateY(-100%);
}

/* 토글 hover 시 x 버튼으로 */
.wrap > .sidebar > .sidebar-top > .toggle:hover > span:nth-child(1) {
  top: 50%;
  left: 0%;
  width: 100%;
  transform: translateY(-50%) rotate(45deg);
}

.wrap > .sidebar > .sidebar-top > .toggle:hover > span:nth-child(2) {
  display: none;
}

.wrap > .sidebar > .sidebar-top > .toggle:hover > span:nth-child(3) {
  top: 50%;
  left: 0%;
  width: 100%;
  transform: translateY(-50%) rotate(-45deg);
}

/* 부드럽게 */
.wrap > .sidebar > .sidebar-top > .toggle > span {
  transition: all 0.3s linear;
}

.menu-div,
.list-div {
  padding: 20px;
  box-sizing: border-box;
}

.menu-div {
  flex: 1;
  max-width: 30%;
  background-color: #3c9eec;
  color: #fff;
}

.menu-div .user-profile {
  background-color: #fff;
  color: #333;
  display: flex;
  margin: 0 auto;
  width: 100%;
  height: 70px;
}

.menu-div .user-profile .user-img {
  border-radius: 30px;
  flex: 0.2;
  margin: 10px;
  width: 50px;
  height: 50px;
  background-color: #3c9eec;
  float: left;
}

.menu-div .user-profile .user-detail {
  background-color: beige;
  flex: 1;
  float: right;
  width: 235px;
  height: 70px;

  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.menu-div .search-div {
  margin: 10px 0px;
  padding: 10px;
  background-color: yellow;
  display: flex;
}
.menu-div .search-div input {
  width: 100%;
  height: 30px;
  flex: 1;
}

.menu-div .search-div button {
  background: #3c9eec;
  color: white;
  border: 0;
  flex: 0.2;
}

.menu-div .menu-list {
  width: 100%;
  height: max-content;
  background-color: #fff;
  color: #333;
}

.menu-div .menu-list ul {
  list-style: none;
  padding: 10px;
}

.menu-div .menu-list li {
  height: 50px;
  margin: 10px 5px;
  background-color: beige;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  cursor: pointer;
}

.list-div {
  flex: 1;
  background-color: rgba(255, 255, 255, 0.8);
  backdrop-filter: blur(10px);
  color: #333;
  overflow: hidden;
}

.list-div .list-main {
  background-color: beige;
  height: 90%;
  flex: 1;
  overflow-y: auto;
}

.list-div .list-main .list-title {
  background-color: yellowgreen;
  height: 40px;
}

.list-div .list-main .list-title h1 {
  margin: 0px;
  padding: 0px;
}

.list-div .list-main .today {
  background-color: gold;
  margin: 0px;
  padding: 0px;
  width: 100px;
  height: 30px;
}

.list-div .list-main .today h2 {
  margin: 0px;
  padding: 0px;
}

.hidden {
  display: none !important;
}

.list-div .list-todo {
  margin: 10px;
}

.list-div .list-todo ul {
  margin: 0px;
  padding: 0px;
  list-style: none;
}

.list-div .list-todo ul li {
  height: 40px;
  margin: 15px 5px;
  border: 1px solid #ccc;
  background-color: white;
  border-radius: 5px;
  display: flex;
  cursor: pointer;
}

.list-div .list-todo li span {
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: center;
  text-justify: auto;
  text-align: center;
}

.list-div .list-todo li .cmplt-btn {
}

.list-div .list-todo li .imp-btn {
  background-color: #3c9eec;
  border: none;
  color: #fff;
}

.list-div .new-todo-div {
  margin: 15px;
  height: 40px;
}

.list-div .new-todo-div input[type="text"] {
  width: 100%;
  height: 40px;
  box-sizing: border-box;
  padding: 20px;
  flex: 1;
}

/* 드롭다운 메뉴 */
.wrap > .sidebar > .sidebar-main > .todo-ddln > .dropdown {
  position: relative;
  z-index: 1;
  margin-bottom: 8px;
}

ul,
li {
  list-style-type: none;
  padding-left: 0;
  margin-left: 0;
}

.dropdown-toggle {
  width: 100%;
  height: 70px;
  padding: 0 16px;
  line-height: 50px;
  text-align: center;
}

.dropdown-toggle.selected {
  color: #3f4150;
  border-color: rgba(224, 226, 231, 1);
}

.dropdown-toggle:active {
  border-color: rgba(224, 226, 231, 1);
}

.dropdown-menu {
  position: absolute;
  z-index: 2;
  top: calc(100% + 4px);
  left: 0;
  width: 100%;
  max-height: 0;
  overflow: hidden;
  background-color: #fff;
  border: 1px solid transparent;
  border-radius: 6px;
  transition: border-color 200ms ease-in, padding 200ms ease-in,
    max-height 200ms ease-in, box-shadow 200ms ease-in;
}

.dropdown-menu.show {
  padding: 8px 0;
  max-height: 280px;
  border-color: rgba(224, 226, 231, 0.5);
  box-shadow: 0 4px 9px 0 rgba(63, 65, 80, 0.1);
}

.dropdown-option {
  width: 100%;
  height: 44px;
  padding: 0 16px;
  line-height: 44px;
  text-align: center;
}

.dropdown-option:hover {
  background-color: #f8f9fa;
}

#sidebar-form {
  border: 2px dotted yellowgreen;
}
