body {
  background-color: #f0f0f0;
  margin: 0;
  padding: 0;
}

.main_container {
  display: flex;
  justify-content: center; /* 가운데 정렬 */
  align-items: center; /* 수직 가운데 정렬 */
  height: 100vh; /* 화면 전체 높이 */
}

.container {
  display: flex;
  width: 80%; /* 컨테이너 너비 설정 */
  height: 80%;
  border-radius: 30px;
  overflow: hidden;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3); /* 그림자 효과 추가 */
}

.menu-div,
.list-div {
  padding: 20px; /* 내부 여백 추가 */
  box-sizing: border-box; /* 테두리와 내부 여백을 요소의 크기에 포함 */
}

.menu-div {
  flex: 1; /* 남은 공간을 동일하게 차지하도록 설정 */
  max-width: 30%; /* 최대 너비 설정 */
  background-color: #3c9eec;
  color: #fff;
}

.menu-div .user-profile {
  background-color: #fff;
  color: #333;

  display: flex;

  margin: 0 auto;

  width: 100%;
  height: 70px;
}

.menu-div .user-profile .user-img {
  border-radius: 30px;

  flex: 0.2;

  margin: 10px;

  width: 50px;
  height: 50px;
  background-color: #3c9eec;
  float: left;
}

.menu-div .user-profile .user-detail {
  background-color: beige;
  flex: 1;
  float: right;
  width: 235px;
  height: 70px;

  display: flex; /* 부모 요소를 플렉스 컨테이너로 설정 */
  align-items: center; /* 자식 요소를 세로 중앙에 정렬 */
  justify-content: center; /* 자식 요소를 가로 중앙에 정렬 */
  flex-direction: column;
}

.menu-div .user-profile .user-detail span {
  /*  */
}

.menu-div .menu-list {
  width: 100%;
  height: max-content;
  background-color: #fff;
  color: #333;
}

.menu-div .menu-list ul {
  list-style: none;
  padding: 10px;
}

.menu-div .menu-list li {
  height: 50px;
  margin: 10px 5px;
  background-color: beige;
  display: flex; /* 부모 요소를 플렉스 컨테이너로 설정 */
  align-items: center; /* 자식 요소를 세로 중앙에 정렬 */
  justify-content: center; /* 자식 요소를 가로 중앙에 정렬 */
  text-align: center;
  cursor: pointer;
}

.list-div {
  flex: 1; /* 컨테이너의 남은 공간을 동일하게 차지하도록 설정 */
  background-color: rgba(255, 255, 255, 0.8);
  backdrop-filter: blur(10px);
  color: #333;
}

.list-div .list-main {
  background-color: beige;
  height: 90%;
}

.list-div .list-main .list-title {
  background-color: yellowgreen;
  height: 40px;
}

.list-div .list-main .list-title h1 {
  margin: 0px;
  padding: 0px;
}

.list-div .list-main .today {
  background-color: gold;
  margin: 0px;
  padding: 0px;
  width: 100px;
  height: 30px;
}

.list-div .list-main .today h2 {
  margin: 0px;
  padding: 0px;
}

.list-div .list-todo {
  overflow-y: auto;
  margin: 10px;
  background-color: white;
}

.list-div .list-todo ul {
  margin: 0px;
  padding: 0px;
  list-style: none;
}

.list-div .list-todo li {
  height: 40px;
  margin: 15px 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
  display: flex; /* 부모 요소를 플렉스 컨테이너로 설정 */
  align-items: center; /* 자식 요소를 세로 중앙에 정렬 */
  justify-content: center; /* 자식 요소를 가로 중앙에 정렬 */
  text-align: center;
  cursor: pointer;
}

.list-div .new-todo-div {
  margin: 15px;
  height: 40px;
}

.list-div .new-todo-div input[type="text"] {
  width: 100%;
  height: 40px;
  box-sizing: border-box;
  padding: 20px;
}
