/* 초기 리셋 스타일 */
* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
}

body {
  height: 100vh;
  background-image: url("/img/bgimage.JPG");
  background-size: cover; /* 화면에 이미지가 꽉 차게 표시되도록 설정 */
  background-repeat: no-repeat; /* 배경 이미지 반복 없음 */
}

/* rem 사용을 위한 루트글자 크기 설정 */
html {
  font-size: 15px;
}

.wrap {
  position: relative;
}
.wrap > .sidebar {
  background-color: #fff;
  position: fixed;

  /* 사이드바가 보여지는 중 / sidebar는 화면을 기준으로 배치 */
  top: 0;
  right: 0;
  bottom: 0;
  width: 20rem;

  padding: 1rem;
  z-index: 9999;

  border-radius: 30px 0 0 30px;
}

.wrap > .main_container {
  position: absolute;
  left: 0;
  top: 0;
  right: 20rem; /*사이드바가 나와있는 만큼의 길이 */

  display: flex;
  justify-content: center; /* 가운데 정렬 */
  align-items: center; /* 수직 가운데 정렬 */
  height: 100vh; /* 화면 전체 높이 */
}

.main_container > .container {
  display: flex;
  position: relative;
  width: 80%;
  height: 80%;
  border-radius: 30px;
  overflow: hidden;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
}

.menu-div,
.list-div {
  padding: 20px;
  box-sizing: border-box;
}

.menu-div {
  flex: 1;
  max-width: 30%;
  background-color: #3c9eec;
  color: #fff;
}

.menu-div .user-profile {
  background-color: #fff;
  color: #333;
  display: flex;
  margin: 0 auto;
  width: 100%;
  height: 70px;
  border-radius: 20px;
}

.menu-div .user-profile .user-img {
  background-size: cover;
  background-position: center;
  background-image: url("/img/profile.png");
  padding-left: 30px;
  flex: 0.5;
  float: left;
}

.menu-div .user-profile .user-detail {
  flex: 1;
  float: right;
  width: 235px;
  height: 70px;

  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

/* 검색 요소 전체를 감싸는 컨테이너 스타일 */
.search-div {
  padding: 10px; /* 내부 여백을 10px로 설정 */
}

.search-div > form {
  display: flex;
  align-items: center;
  border-radius: 5px;
  background-color: white;
}

.search-div > form:focus-within {
  border-bottom: 2px solid #357ebd;
}
.search-div input[type="text"]:focus {
  outline: none;
}
/* 입력 필드 스타일 */
.search-div input[type="text"] {
  flex: 1;
  padding: 8px;
  border: 1px solid transparent;
}

/* 버튼 스타일 */
.search-div button {
  padding: 8px;
  background-color: white;
  border: 1px solid transparent;
  cursor: pointer;
}

.search-div input[type="text"] {
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

.search-div button {
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

.menu-div .menu-list {
  width: 100%;
  height: max-content;
  color: #333;
}

.menu-div .menu-list ul {
  list-style: none;
}

.menu-div .menu-list li {
  height: 50px;
  margin: 10px 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  cursor: pointer;
  border-radius: 10px;
  background-color: white;
}

#copyright {
  position: fixed; /* 위치를 고정합니다. */
  bottom: 10px; /* 아래쪽 여백을 10px로 설정합니다. */
  right: 10px; /* 오른쪽 여백을 10px로 설정합니다. */
  color: #555; /* 텍스트 색상을 회색으로 설정합니다. */
  font-size: 12px; /* 폰트 크기를 12px로 설정합니다. */
}

.list-div {
  flex: 1;
  background-color: rgba(255, 255, 255, 0.8);
  backdrop-filter: blur(10px);
  color: #333;
  overflow: hidden;
}

.list-div .list-main {
  height: 90%;
  flex: 1;
  overflow-y: auto;
}

.list-div .list-main > .search-no-data {
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: inherit;
  font-size: large;
  font-weight: bold;
}

.list-div .list-main .list-title {
  height: 40px;
}

.list-div .list-main .list-title h1 {
  margin: 0px;
  padding: 0px;
}

.list-div .list-main .today {
  margin: 0px;
  padding: 0px;
  width: 100px;
  height: 30px;
}

.list-div .list-main .today h2 {
  margin: 0px;
  padding: 0px;
  width: max-content;
}

.hidden {
  display: none !important;
}

.list-div .list-todo {
  margin: 10px;
}

.list-div .list-todo ul {
  margin: 0px;
  padding: 0px;
  list-style: none;
}

.list-div .list-todo ul li {
  height: 40px;
  margin: 15px 5px;
  border: 1px solid #ccc;
  background-color: white;
  border-radius: 5px;
  display: flex;
  cursor: pointer;
}

.list-div .list-todo li span {
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: center;
  text-justify: auto;
  text-align: center;
}

.list-div .list-todo li .cmplt-btn {
}

.list-div .list-todo li .imp-btn {
  border: none;
  color: #3c9eec;
}

.list-div .new-todo-div {
  margin: 15px;
  height: 40px;
}

.list-div .new-todo-div > form > .input-wrapper {
  display: flex;
  border-radius: 10px;
  border: 1px solid #ccc;
  background-color: white;
}

.list-div .new-todo-div > form > .input-wrapper:focus-within {
  border-bottom: 2px solid #3c9eec; /* 포커스가 있는 입력 요소에 아래쪽 선 생성 */
}

.list-div .new-todo-div > form > .input-wrapper > input[type="text"]:focus,
.list-div .new-todo-div > form > .input-wrapper > input[type="date"]:focus {
  outline: none; /* 기본 포커스 효과 제거 */
}

.list-div .new-todo-div > form > .input-wrapper > input[type="text"] {
  flex: 1;
}
.list-div .new-todo-div > form > .input-wrapper > input[type="date"] {
  flex: 0.3;
}

.list-div .new-todo-div > form > .input-wrapper > input[type="text"],
.list-div .new-todo-div > form > .input-wrapper > input[type="date"] {
  height: 40px;
  border: none;
  padding: 10px;
  box-sizing: border-box;
}

.list-div .new-todo-div > form > .input-wrapper > input[type="text"] {
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

.list-div .new-todo-div > form > .input-wrapper > input[type="date"] {
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}
/* 드롭다운 메뉴 */
.wrap > .sidebar > .sidebar-main > .todo-ddln > .dropdown {
  position: relative;
  z-index: 1;
  margin-bottom: 8px;
}

ul,
li {
  list-style-type: none;
  padding-left: 0;
  margin-left: 0;
}

.dropdown-toggle {
  width: 100%;
  height: 70px;
  padding: 0 16px;
  line-height: 50px;
  text-align: center;
}

.dropdown-toggle.selected {
  color: #3f4150;
  border-color: rgba(224, 226, 231, 1);
}

.dropdown-toggle:active {
  border-color: rgba(224, 226, 231, 1);
}

.dropdown-menu {
  position: absolute;
  z-index: 2;
  top: calc(100% + 4px);
  left: 0;
  width: 100%;
  max-height: 0;
  overflow: hidden;
  border: 1px solid transparent;
  border-radius: 6px;
  transition: border-color 200ms ease-in, padding 200ms ease-in,
    max-height 200ms ease-in, box-shadow 200ms ease-in;
}

.dropdown-menu.show {
  padding: 8px 0;
  max-height: 280px;
  border-color: rgba(224, 226, 231, 0.5);
  box-shadow: 0 4px 9px 0 rgba(63, 65, 80, 0.1);
}

.dropdown-option {
  width: 100%;
  height: 44px;
  padding: 0 16px;
  line-height: 44px;
  text-align: center;
}

.dropdown-option:hover {
  background-color: #f8f9fa;
}
