/* 
   기본 배치
   - <div class="wrap">: 사이드바가 보여지는 화면
   - <div class="wrap collapse">:  사이드바가 숨겨지는 화면
*/

/*
   숨긴 상태의 처리
  - 사이드바는 화면 밖으로 이동 시킴
  - 컨텐츠 영역은 사이드바가 사라진 자리 채움
 */

.wrap.collapse > .sidebar {
  margin-right: -30rem;
}

.wrap.collapse > .main_container {
  right: 0;
}

/* 부드럽게 이동하도록 transition 처리 */
.wrap > .sidebar {
  transition-property: margin-right;
  transition-duration: 0.3s;
  transition-timing-function: linear;
}

.wrap > .main_container {
  transition-property: right, padding-right;
  transition-duration: 0.3s;
  transition-timing-function: linear;
}

/* 사이드바 메뉴 상단부 */
.wrap > .sidebar > .sidebar-top {
  display: flex;
  justify-content: space-between;
  align-content: center;
}

.wrap > .sidebar > .sidebar-top > .toggle {
  position: relative;
  width: 1.5rem;
  height: 1.5rem;
}

/* 사이드바 메인영역 */
.wrap > .sidebar > .sidebar-main {
  display: flex;
  flex-direction: column;
  margin-top: 50px;
  gap: 20px;
}
.wrap > .sidebar > .sidebar-main > form > .todo-title {
  width: 100%;
  height: 70px;
  display: flex;
  justify-content: space-between;
}

.wrap > .sidebar > .sidebar-main > form > .todo-title > textarea {
  width: inherit;
}

.wrap > .sidebar > .sidebar-main > form > .todo-title > button {
}

.wrap > .sidebar > .sidebar-main .today-btn-div > button {
  width: 100%;
  height: 70px;
}

.wrap > .sidebar > .sidebar-main > .todo-ddln {
  width: 100%;
  height: auto;
}

#datepicker {
  height: 70px;
  width: 100%;
  text-align: center;
}

.wrap > .sidebar > .sidebar-main > form > .todo-memo {
  width: 100%;
  max-height: 250px;
  box-sizing: content-box;
  overflow-y: auto;
}

.wrap > .sidebar > .sidebar-main > form > .todo-memo > textarea {
  width: inherit;
  min-height: 5rem;
  overflow-y: hidden;
  resize: none;
}

/* 사이드바 하단 */
.wrap > .sidebar > .sidebar-bottom {
  display: flex;
  justify-content: space-between;
  align-content: center;

  width: 100%;
  left: 0;
  bottom: 1rem;
  position: absolute;

  padding: 1rem;
}

.wrap > .sidebar > .todo-data {
  text-align: center;
}

.wrap > .sidebar > .sidebar-bottom > div {
  position: relative;
}

.wrap > .sidebar > .sidebar-bottom > button {
  position: relative;
  width: 1.5rem;
  height: 1.5rem;
  right: 0;
}

/* 사이드바 메뉴 버튼 */
.wrap > .sidebar > .sidebar-top > .toggle > span {
  position: absolute;

  width: 80%;
  height: 10%;
  background-color: black;
}

/* 사이드바 내부 닫기 메뉴 버튼 (div class : main_container) */
.wrap > .sidebar > .sidebar-top > .toggle > span:nth-child(1) {
  top: 10%;
  left: 10%;
}
.wrap > .sidebar > .sidebar-top > .toggle > span:nth-child(2) {
  top: 50%;
  left: 10%;
  transform: translateY(-50%);
}
.wrap > .sidebar > .sidebar-top > .toggle > span:nth-child(3) {
  top: 90%;
  left: 10%;
  transform: translateY(-100%);
}

/* 토글 hover 시 x 버튼으로 */
.wrap > .sidebar > .sidebar-top > .toggle:hover > span:nth-child(1) {
  top: 50%;
  left: 0%;
  width: 100%;
  transform: translateY(-50%) rotate(45deg);
}

.wrap > .sidebar > .sidebar-top > .toggle:hover > span:nth-child(2) {
  display: none;
}

.wrap > .sidebar > .sidebar-top > .toggle:hover > span:nth-child(3) {
  top: 50%;
  left: 0%;
  width: 100%;
  transform: translateY(-50%) rotate(-45deg);
}

/* 부드럽게 */
.wrap > .sidebar > .sidebar-top > .toggle > span {
  transition: all 0.3s linear;
}

/* textarea */
textarea {
  border: none;
  resize: none;
}

textarea:focus {
  outline: none;
}
.wrap > .sidebar > .sidebar-main > form > .todo-memo,
.wrap > .sidebar > .sidebar-main > form > .todo-title {
  border-radius: 10px;
}
.wrap > .sidebar > .sidebar-main > form > .todo-memo:focus-within,
.wrap > .sidebar > .sidebar-main > form > .todo-title:focus-within {
  border-bottom: 3px solid #3c9eec;
}

.wrap .sidebar button {
  background-color: #3c9eec;
  border-radius: 10px;
  border: none;
  color: white;
}

.wrap .sidebar button:hover {
  background-color: #357ebd;
}

.dropdown-item {
  margin-bottom: 5px;
}
