<!DOCTYPE html>
<html lang="kr" xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>TODO</title>

  <link rel="stylesheet" type="text/css" href="/css/index.css" />
</head>

<body>
  <div class="main_container">
    <div class="container">
      <h1>MS TO-DO</h1>
      <p><img src="/img/Microsoft_To-Do_icon.png" class="logo"></p>

      <a class="button" type="button" sec:authorize="isAnonymous()" th:href="@{/login}">로그인</a>
      <a class="button" type="button" sec:authorize="isAuthenticated()" th:href="@{/logout}">로그아웃</a>
    </div>
  </div>

</body>

</html>