<!DOCTYPE html>
<htm lang="kr" xmlns:th="http://www.thymeleaf.org">

  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>회원가입</title>

    <link rel="stylesheet" type="text/css" href="/css/join.css" />
  </head>

  <body>
    <div class="main_container">
      <div class="container">
        <h1>회원가입</h1>
        <form th:action="@{/join}" th:object="${userJoinForm}" method="post">

          <div>
            <label for="user_id" class="form-label">사용자ID</label>
            <div id="input-btn-div">
              <input type="text" th:field="*{user_id}" maxlength="20">
              <button id="id-duplication-btn" disabled="disabled">중복 검사</button>
            </div>

            <div id="id-chk-msg"></div>
            <div class="field-error" th:errors="*{user_id}"></div>
          </div>

          <div>
            <label for="user_pw" class="form-label">비밀번호</label>
            <input type="password" th:field="*{user_pw}" minlength="8" maxlength="20">
            <div id="pw-chk-msg"></div>
            <div class="field-error" th:errors="*{user_pw}"></div>
          </div>

          <div>
            <label for="user_pw2" class="form-label">비밀번호 확인</label>
            <input type="password" th:field="*{user_pw2}" minlength="8" maxlength="20">
            <div id="pw-chk2-msg"></div>
            <div class="field-error" th:if="${#fields.hasErrors('user_pw2')}" th:errors="*{user_pw2}"></div>
          </div>

          <div>
            <label for="user_nm" class="form-label">이름</label>
            <input type="text" th:field="*{user_nm}">
            <div id="nm-chk-msg"></div>
            <div class="field-error" th:errors="*{user_nm}"></div>
          </div>

          <div class="btn-div">
            <button type="submit" id="submit-btn">가입</button>
            <button type="button" onclick="location.href='/'">메인</button>
          </div>

        </form>
      </div>
    </div>
    <script src=" /js/join.js" defer></script>
  </body>

  </html>