<!DOCTYPE html>
<html lang="kr">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>회원가입</title>

    <link rel="stylesheet" type="text/css" href="/css/join.css" />
  </head>
  <body>
    <div class="main_container">
      <div class="container">
        <form action="/api/user/join" method="post">
          <h1>회원가입</h1>

          <div>
            <label for="user_id">사용자ID</label>
            <input type="text" name="user_id" />
            <button>중복 확인</button>
            <span></span>
          </div>

          <div>
            <label for="user_pw">비밀번호</label>
            <input type="password" name="user_pw" />
            <span></span>
          </div>

          <div>
            <label for="user_pw2">비밀번호 확인</label>
            <input type="password" name="user_pw2" />
            <span></span>
          </div>

          <div>
            <label for="user_nm">이름</label>
            <input type="text" name="user_nm" />
            <span></span>
          </div>

          <div class="button-div">
            <p>
              <button type="submit" class="btn btn-primary">회원가입</button>
              <button type="reset">새로 작성</button>
            </p>
            <a href="/">처음 화면으로</a>
          </div>
        </form>
      </div>
    </div>
  </body>
</html>
