<!DOCTYPE html>
<htm lang="kr" xmlns:th="http://www.thymeleaf.org">

  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>설정</title>

    <link rel="stylesheet" type="text/css" href="/css/settings.css" />
  </head>

  <body>
    <div class="main_container">
      <div class="container">
        
        <h1>설정</h1>

        <!-- 현재 로그인 계정 정보 -->
        <div class="user-profile">
          <div class="user-img"></div>
          <div class="user-detail">
            <span id="user-id-span" th:text="${#authentication.name}"></span>
            <span><a sec:authorize="isAuthenticated()" th:href="@{/logout}">로그아웃</a></span>
          </div>
        </div>

        <label>
          <span>새로운 작업을 상단에 정렬</span>
          <input id="newTodo-input" role="switch" type="checkbox" />
        </label>
        <label>
          <span>중요한 작업을 상단에 정렬</span>
          <input id="impTodo-input" role="switch" type="checkbox" />
        </label>

        <span>
          <a sec:authorize="isAuthenticated()" th:href="@{/list}">목록으로</a>
        </span>
      
      </div>
    </div>

    <script src=" /js/settings.js" defer></script>
  </body>

  </html>