<!DOCTYPE html>
<html lang="kr" xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>할 일 목록</title>

  <link rel="stylesheet" type="text/css" href="/css/main.css" />
</head>

<body>
  <div class="main_container">
    <div class="container">

      <div class="menu-div">

        <div class="user-profile">
          <div class="user-img"></div>
          <div class="user-detail">
            <span th:text="${#authentication.name}"></span>
            <span><a sec:authorize="isAuthenticated()" th:href="@{/logout}">로그아웃</a></span>
          </div>
        </div>

        <div class="menu-list">
          <ul>
            <li>오늘 할 일</li>
            <li>중요한 일</li>
            <li>계획 된 일</li>
            <li>완료된 일</li>
            <li>작업</li>
          </ul>
        </div>

      </div>

      <div class="list-div">

        <div class="list-main">
          <div class="list-top">
            <div class="list-title">
              <h1>리스트 타이틀</h1>
            </div>
            <div class="today" id="today">
              <h2>0월 0일</h2>
            </div>
          </div>

          <div class="list-todo">
            <ul>
              <li>투두</li>
              <li>투두</li>
              <li>투두</li>
              <li>투두</li>
            </ul>
          </div>

        </div>

        <div class="new-todo-div">
          <form action="/api/todo/save" method="post" id="todo-form">
            <input type="text" placeholder="할 일 작성" maxlength="50" />
          </form>
        </div>

      </div>
    </div>
  </div>

  <script src="/js/todo_list.js"></script>

</body>

</html>