<!DOCTYPE html>
<html lang="kr" xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>할 일 목록</title>

  <link rel="stylesheet" type="text/css" href="/css/main.css" />
</head>

<body>
  <div class="main_container">
    <div class="container">

      <div class="menu-div">

        <div class="user-profile">
          <div class="user-img"></div>
          <div class="user-detail">
            <span th:text="${#authentication.name}"></span>
            <span><a sec:authorize="isAuthenticated()" th:href="@{/logout}">로그아웃</a></span>
          </div>
        </div>

        <div class="search-div">
          <input type="text" placeholder="기능구현아직"/>
          <button>검색</button>
        </div>

        <div class="menu-list">
          <ul>
            <li id="fil-tdy">오늘 할 일</li>
            <li id="fil-imp">중요한 일</li>
            <li id="fil-scheduled">계획 된 일</li>
            <li id="fil-cmplt">완료된 일</li>
            <li id="fil-notCmplt">작업</li>
          </ul>
        </div>

      </div>

      <div class="list-div">

        <div class="list-main">
          <div class="list-top">
            <div class="list-title">
              <h1>리스트 타이틀</h1>
            </div>
            <div class="today" id="today">
              <h2 class="hidden">0월 0일</h2>
            </div>
          </div>

          <div class="list-todo">
            <ul>
            <!--Fetch API 통하여 db에서 데이터 가져와 li 생성 -->
            </ul>
          </div>

        </div>

        <div class="new-todo-div">
          <form action="/api/todo/save" method="post" id="todo-form">
            <!-- <button>완료표시</button> -->
            <input type="text" placeholder="할 일 작성" minlength="1" maxlength="50" />
            <!-- <button>중요표시</button> -->
            <!-- <button>달력예정</button> -->
          </form>
        </div>

      </div>
    </div>
  </div>

  <script src="/js/todo_list.js"></script>

</body>

</html>