<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.eco.todo.mapper.TodoMapper">
<!-- 투두 작성 && 트리거 사용하여 자동으로 0000 됨 -->
	<insert id="saveTodo">
		<selectKey keyProperty="todo_idx" resultType="int" order="BEFORE">
			SELECT TODO_SEQ.nextval FROM DUAL
		</selectKey>
		
		INSERT INTO TODO
			   ( TODO_IDX
			   , USER_ID
			   , TODO_TITLE
			   , CREATED_TIME
			   )
		VALUES ( #{todo_idx}
			   , #{user_id}
			   , #{todo_title}
			   , #{created_time}
			   )
	</insert>
	
<!-- 투두 필터 수정  -->
	<update id="updateFilters">
		UPDATE FILTERS
		<trim prefix="SET" suffixOverrides=",">
			<if test="fil_tdy != null">FIL_TDY = #{fil_tdy},</if>
			<if test="fil_imp != null">FIL_IMP = #{fil_imp},</if>
			<if test="fil_cmplt != null">FIL_CMPLT = #{fil_cmplt},</if>
			<if test="fil_del != null">FIL_DLT = #{fil_del},</if>
		</trim>
		WHERE TODO_IDX = #{todo_idx}  
	</update>
	
<!-- 회원이 저장한 투두 전체 조회 -->
	<select id="findAllTodo">
		SELECT *
		  FROM V_TODO_FILTER
		 WHERE USER_ID = #{user_id}
	  ORDER BY CREATED_TIME ASC
	</select>
	
<!-- 오늘 할 일만 필터 -->
	<select id="filterTdy">
		SELECT *
		  FROM V_TODO_FILTER
		 WHERE USER_ID = #{user_id}
		   AND FIL_TDY='1'
		 ORDER BY CREATED_TIME DESC
	</select>
	
<!-- 중요한 일만 필터 -->
	<select id="filterImp">
		SELECT *
		  FROM V_TODO_FILTER
		 WHERE USER_ID = #{user_id}
		   AND FIL_IMP='1'
		 ORDER BY CREATED_TIME DESC
	</select>
	
<!-- 미완료된 일 필터 -->
	<select id="filterNotCmplt">
		SELECT *
		  FROM V_TODO_FILTER
		 WHERE USER_ID = #{user_id}
		   AND FIL_CMPLT ='0'
		 ORDER BY CREATED_TIME DESC
	</select>
	
<!-- 현재 저장된 투두 갯수 / 가장 큰 수 구하기 -->
	<select id="findMaxNum">
		SELECT MAX(TODO_IDX)
		  FROM TODO
	</select>
</mapper>