<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.eco.todo.mapper.TodoMapper">
<!-- 투두 작성 -->
	<insert id="saveTodo">
		<selectKey keyProperty="todo_idx" resultType="int" order="BEFORE">
			SELECT TODO_SEQ.nextval FROM DUAL
		</selectKey>
		INSERT ALL
				  	 INTO TODO
							   ( TODO_IDX
							   , USER_ID
							   , TODO_TITLE
							   , CREATED_TIME
							   )
						VALUES ( #{todo_idx}
							   , #{user_id}
							   , #{todo_title}
							   , #{created_time}
							   )
				   INTO FILTERS
				   			   ( TODO_IDX
				   			   , USER_ID
				   			   , FIL_TDY
				   			   , FIL_IMP
				   			   , FIL_CMPLT
				   			   , FIL_DLT
				   			   )
				   	 	VALUES (
				   	 			 #{todo_idx}
				   	 		   , #{user_id}
								<if test="fil_tdy != null and fil_tdy != ''">, #{fil_tdy}</if>
								<if test="fil_tdy == null or fil_tdy == ''">, 0</if>
								<if test="fil_imp != null and fil_imp != ''">, #{fil_imp}</if>
								<if test="fil_imp == null or fil_imp == ''">, 0</if>
								<if test="fil_cmplt != null and fil_cmplt != ''">, #{fil_imp}</if>
								<if test="fil_cmplt == null or fil_cmplt == ''">, 0</if>			
				   	 		   , 0
				   	 		   )
				   	 	SELECT * FROM DUAL   				   	 		   
	</insert>
	
<!-- 투두 필터 수정  -->
<update id="updateFilters">
    UPDATE FILTERS
    <trim prefix="SET" suffixOverrides=",">
        <if test="fil_tdy != null and fil_tdy != ''">FIL_TDY = #{fil_tdy},</if>
        <if test="fil_imp != null and fil_imp != ''">FIL_IMP = #{fil_imp},</if>
        <if test="fil_cmplt != null and fil_cmplt != ''">FIL_CMPLT = #{fil_cmplt},</if>
        <if test="fil_dlt != null and fil_dlt != ''">FIL_DLT = #{fil_dlt},</if>
    </trim>
    WHERE TODO_IDX = #{todo_idx}  
</update>

	
<!-- 회원이 저장한 투두 전체 조회 -->
	<select id="findAllTodo">
		SELECT *
		  FROM V_TODO_FILTER
		 WHERE USER_ID = #{user_id}
	  ORDER BY CREATED_TIME ASC
	</select>
	
<!-- 오늘 할 일만 필터 -->
	<select id="filterTdy">
		SELECT *
		  FROM V_TODO_FILTER
		 WHERE USER_ID = #{user_id}
		   AND FIL_TDY='1'
		 ORDER BY CREATED_TIME DESC
	</select>
	
<!-- 중요한 일만 필터 -->
	<select id="filterImp">
		SELECT *
		  FROM V_TODO_FILTER
		 WHERE USER_ID = #{user_id}
		   AND FIL_IMP='1'
		   AND FIL_CMPLT='0'
		 ORDER BY CREATED_TIME DESC
	</select>
	
<!-- 완료된 일만 필터 -->
	<select id="filterCmplt">
		SELECT *
		  FROM V_TODO_FILTER
		 WHERE USER_ID = #{user_id}
		   AND FIL_CMPLT='1'
		 ORDER BY CREATED_TIME DESC
	</select>
	
<!-- 미완료된 일 필터 -->
	<select id="filterNotCmplt">
		SELECT *
		  FROM V_TODO_FILTER
		 WHERE USER_ID = #{user_id}
		   AND FIL_CMPLT ='0'
		 ORDER BY CREATED_TIME DESC
	</select>
	
</mapper>