<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.eco.todo.users.UserMapper">

<!-- 아이디 중복확인 -->
	<select id="chkUserId" resultType="int">
		SELECT COUNT(USER_ID) AS 아이디검색개수
		  FROM USERS
		 WHERE USER_ID = #{user_id}
	</select>

<!-- 회원가입 -->
	<insert id="join">
		INSERT INTO USERS
					( USER_ID
					, USER_PW
					, USER_NM
					)
			 VALUES ( #{user_id}
			 		, #{user_pw}
			 		, #{user_nm}
			   		)
	</insert>
	
<!-- 로그인 -->
	<select id="findUser">
		SELECT *
		  FROM USERS
		 WHERE USER_ID = #{user_id}
	</select>
	
<!-- 설정찾기 -->
	<select id="findUserSettings">
		SELECT USER_ID, NEWTODO_TOP, IMPTODO_TOP
		  FROM USERS
		 WHERE USER_ID = #{user_id}
	</select>
	
<!-- 설정 -->
	<update id="updateSettings" parameterType="UserSettings">
		UPDATE USERS
		<trim prefix="SET" suffixOverrides=",">
	        <if test="newTodo_top != null and newTodo_top != ''">NEWTODO_TOP = #{newTodo_top},</if>
	        <if test="impTodo_top != null and impTodo_top != ''">IMPTODO_TOP = #{impTodo_top}</if>
	    </trim>
		 WHERE USER_ID = #{user_id}
	</update>

</mapper>